body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;

    background: #2c2b3d;

    min-height: 100vh;
}

.page {
    width: 1100px;
    margin: 0 auto;
    padding-top: 71px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 101px;
    font-family: 'JetBrains Mono', sans-serif;
}

ul {
    display: flex;
    gap: 64px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul li a:hover {
    font-weight: bold;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

h1 {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #ffffff;

    text-align: center;

    width: 609px;
}

h1 span {
    color: #00BFA6;
    gap: 5px;
}

section p {
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
    text-align: center;
}

section p span {
    color: #00BFA6;
    font-weight: 700;
}

footer {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    color: #ffffff;

    width: 568px;
    height: 55px;
    margin: 167px 356px 23px 356px;
    padding: 27px 0 0 0;

    border-top: 1px solid #00BFA6;

    text-align: center;
}

#padlock {
    position: fixed;
    bottom: 20px;
    left: 20px;
}